lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist

# ignore BDD files
mariaDB

.next

/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
# /.pnp.*

.minio-data
.postgres-data
.mysql-data
.env.*

public/sw.js
public/workbox-*.js

clap-stag.parlemonde.org
dump
test.js
test.html
docker-compose.build.yml
docker-compose.bdd.yml

*.http

