.root {
  --card-bg-color: #f5f5f5;
  --border-color: #dad7fe;
}

.mainContainer {
  display: flex;
  gap: 10px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  padding: 1rem;
}

.mainContainer:first-child {
  flex: 1;
}

.infoContainer {
  flex: 3;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  padding: 0 1rem;
}

.infoContainer a {
  font-weight: 600;
}

.infoContainer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.infoContainer > ul > li {
  margin-bottom: 0.5rem;
}
