<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Confirmation d'email</h1>
    <p>Bienvenu {{ firstname }} ! Merci de cliquer sur le lien suivant pour confirmer votre email</p>
    <a href="http://localhost:5000/user-validation?email={{ email }}&uuidToken={{ verificationHash }}">valider mon email</a>
  </body>
</html>
