<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Confirmation d'email</h1>
    <p>
      Bonjour {{firstname}}, 
Pour activer votre compte, merci de cliquer sur ce lien : <a href="{{url}}/user-verified?email={{email}}&verificationHash={{verificationHash}}">valider mon email</a>
Une fois votre compte activé, vous pourrez renseigner l’identifiant de votre enfant transmis par son professeur, et accéder aux échanges en ligne sur 1Village. 
À bientôt, 
<br/>
<br/>
Hello {{firstname}}, 
To activate your account, please click on the following link:  <a href="{{url}}/user-verified?email={{email}}&verificationHash={{verificationHash}}">approve my email</a>
Once activated, you will need to input the child id provided by the teacher, in order to access the 1Village website.  
Best,
</p>
    
  </body>
</html>
