.admin--container {
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.admin-stat-tile {
  height: 10rem;
  padding: 0.25rem;
  overflow: scroll;
}
.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.css-1xjev9d-MuiGrid-root>.MuiGrid-item {
  max-width: 100% !important;
}