@import "variables";

$headerHeight: 50px;
$menuWidth: 250px;
$menuWidthSmaller: 200px;
$rightMenuWidth: 220px;
$topNavigationHeight: 45px;
$verticalSpacing: 20px;
$horizontalSpacing: 25px;

// ---- APP CONTAINER ----
.app-container {
  width: 100vw;
  min-height: 100vh;
}

// ---- HEADER ----
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg-page;
  z-index: 100;
}
.header__container {
  background-color: white;
  height: $headerHeight;
  margin: $verticalSpacing $horizontalSpacing 0 $horizontalSpacing;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}
.header__user {
  margin: auto 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0.5rem;

  svg {
    fill: $font-color;
  }
}
.header__search {
  background-color: $bg-page;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
  height: 2rem;
  width: 18rem;
  margin: auto 0;
  position: absolute;
  left: $menuWidth + $horizontalSpacing;

  .MuiInputBase-root {
    margin-left: 0.1rem;
    flex: 1;
  }
}

// ---- LEFT NAVIGATION ----
.navigation {
  position: fixed;
  top: $headerHeight + 2 * $verticalSpacing;
  left: 0;
  padding-bottom: 4px;
  height: calc(100vh - #{$headerHeight + 3 * $verticalSpacing});
  overflow: auto;
}
.navigation__content {
  background-color: white;
  min-height: 100%;
  width: $menuWidth;
  margin: 0 $horizontalSpacing;
  border-radius: 10px;
}

// ---- APP CONTENT ----
main {
  padding-top: $headerHeight + 2 * $verticalSpacing;
  padding-left: $menuWidth + 2 * $horizontalSpacing;
}
.app-content {
  background-color: white;
  width: calc(100% - #{$horizontalSpacing});
  min-height: calc(100vh - #{$headerHeight + 2 * $verticalSpacing});
  margin: 0;
  padding: 0.5rem 1.2rem;
  overflow: visible;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.app-content--narrower {
  width: calc(100% - #{2 * $horizontalSpacing + $rightMenuWidth});
}
.app-content--smaller {
  min-height: calc(100vh - #{$headerHeight + 3 * $verticalSpacing + $topNavigationHeight});
}

// ---- SUB HEADER ----
.sub-header {
  margin-right: $horizontalSpacing;
  height: $topNavigationHeight;
  margin-bottom: $verticalSpacing;
}

// ---- RIGHT NAVIGATION ----
.right-navigation {
  position: sticky;
  top: $headerHeight + 2 * $verticalSpacing;
}
.right-navigation > div {
  position: absolute;
  top: 0;
  right: $horizontalSpacing;
  width: $rightMenuWidth;
  height: calc(100vh - #{$headerHeight + 3 * $verticalSpacing});
  overflow: auto;
  padding-bottom: 4px;
}
.right-navigation--smaller > div {
  height: calc(100vh - #{$headerHeight + 4 * $verticalSpacing + $topNavigationHeight});
}

@include for-small-screen {
  .header__container {
    margin: $verticalSpacing/2 $horizontalSpacing/2 0 $horizontalSpacing/2;
  }
  .header__search {
    left: $menuWidthSmaller + $horizontalSpacing/2;
    width: 10rem;
  }

  .navigation {
    top: $headerHeight + $verticalSpacing;
    height: calc(100vh - #{$headerHeight + 3 / 2 * $verticalSpacing});
  }
  .navigation__content {
    width: $menuWidthSmaller;
    margin: 0 $horizontalSpacing / 2;
  }
  .navigation__button {
    font-size: 0.9rem !important;
  }

  main {
    padding-top: $headerHeight + $verticalSpacing;
    padding-left: $menuWidthSmaller + $horizontalSpacing;
  }
  .app-content {
    width: calc(100% - #{$horizontalSpacing / 2});
    min-height: calc(100vh - #{$headerHeight + $verticalSpacing});
  }
  .app-content--narrower {
    width: calc(100% - #{$horizontalSpacing + $rightMenuWidth});
  }
  .app-content--smaller {
    min-height: calc(100vh - #{$headerHeight + 2 * $verticalSpacing + $topNavigationHeight});
  }

  .right-navigation {
    top: $headerHeight + $verticalSpacing;
  }
  .right-navigation > div {
    right: $horizontalSpacing / 2;
    height: calc(100vh - #{$headerHeight + 3 / 2 * $verticalSpacing});
  }
  .right-navigation--smaller > div {
    height: calc(100vh - #{$headerHeight + 2 * $verticalSpacing + $topNavigationHeight});
  }

  .sub-header {
    margin-right: $horizontalSpacing / 2;
    margin-bottom: $verticalSpacing / 2;
    margin-top: $verticalSpacing / 2;
  }
}

@include for-laptop-screen-up {
  .app-container {
    width: 96vw;
    margin: auto;
  }
  header {
    left: 2vw;
    width: 96vw;
  }
  .navigation {
    left: 2vw;
  }
}
@include for-big-screen-up {
  .app-container {
    width: 80vw;
    margin: auto;
  }
  header {
    left: 10vw;
    width: 80vw;
  }
  .navigation {
    left: 10vw;
  }
}
