@import "variables";

button {
  outline: none;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: unset;
  box-sizing: border-box;
  margin: 0em;
  font-size: 1.07em;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 500;
  padding: 0.4em 1.6em;
  border: none;
  border-image: initial;
  border-radius: 0.6em;
  position: relative;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 300ms linear forwards;
  background-color: rgba(0, 0, 0, 0.13);
}
span.ripple.ripple-focus {
  display: none;
  border-radius: 0.6em;
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
  animation: zoominout 2s infinite !important;
}

button:focus-visible {
  span.ripple.ripple-focus {
    display: block;
  }
}

@keyframes ripple {
  to {
    transform: scale(1);
  }
}
@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.Button {
  &--default {
    &.Button--contained {
      background-color: #cccccc;
      border: 1px solid #cccccc;
      color: $font-color;
    }
    &.Button--contained:hover {
      background-color: darken(#cccccc, 10%);
      border: 1px solid darken(#cccccc, 10%);
    }

    &.Button--outlined {
      border: 1px solid $font-color;
      color: $font-color;
    }
    &.Button--outlined:hover {
      background-color: lighten(#cccccc, 10%);
    }

    &.Button--inverted {
      border: 1px solid $font-color;
      color: $font-color;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--inverted:hover {
      border: 1px solid $font-color;
      background-color: $font-color;
      color: $font-white;
    }
  }

  &--primary {
    &.Button--contained {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: $font-white;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--contained:hover {
      background-color: darken($primary-color, 10%);
      border: 1px solid darken($primary-color, 10%);
    }

    &.Button--outlined {
      border: 1px solid $primary-color;
      color: $primary-color;
    }
    &.Button--outlined:hover {
      background-color: lighten($primary-color, 40%);
    }

    &.Button--inverted {
      border: 1px solid $primary-color;
      color: $primary-color;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--inverted:hover {
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: $font-white;
    }
  }

  &--secondary {
    &.Button--contained {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      color: $font-black;
    }
    span.ripple {
      background-color: rgba(255, 255, 255, 0.25);
    }
    &.Button--contained:hover {
      background-color: darken($secondary-color, 8%);
      border: 1px solid darken($secondary-color, 8%);
    }

    &.Button--outlined {
      border: 1px solid $secondary-color;
      color: $secondary-color;
      span.ripple {
        background-color: rgba(0, 0, 0, 0.18);
      }
    }
    &.Button--outlined:hover {
      background-color: lighten($secondary-color, 28%);
    }

    &.Button--inverted {
      border: 1px solid $secondary-color;
      color: $secondary-color;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--inverted:hover {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: $font-black;
    }
  }

  &--alert {
    &.Button--contained {
      background-color: $bg-help;
      border: 1px solid $bg-help;
      color: $font-black;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--contained:hover {
      background-color: darken($bg-help, 10%);
      border: 1px solid darken($bg-help, 10%);
    }

    &.Button--outlined {
      border: 1px solid $bg-help;
      color: $bg-help;
    }
    &.Button--outlined:hover {
      background-color: lighten($bg-help, 18%);
    }

    &.Button--inverted {
      border: 1px solid $bg-help;
      color: $bg-help;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--inverted:hover {
      border: 1px solid $bg-help;
      background-color: $bg-help;
      color: $font-black;
    }
  }

  &--success {
    &.Button--contained {
      background-color: $bg-success;
      border: 1px solid $bg-success;
      color: $font-white;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--contained:hover {
      background-color: darken($bg-success, 10%);
      border: 1px solid darken($bg-success, 10%);
    }

    &.Button--outlined {
      border: 1px solid $bg-success;
      color: $bg-success;
    }
    &.Button--outlined:hover {
      background-color: #c5e2c5;
    }

    &.Button--inverted {
      border: 1px solid $bg-success;
      color: $bg-success;
      span.ripple {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    &.Button--inverted:hover {
      border: 1px solid $bg-success;
      background-color: $bg-success;
      color: $font-white;
    }
  }
}
