@import "variables";

.Checkbox {
  svg {
    fill: $font-color;
  }
  .ripple {
    opacity: 0;
  }
  .ripple--focused {
    opacity: 1;
    animation: zoominout 1.5s infinite !important;
  }
  span {
    &:hover {
      .ripple {
        opacity: 0.7;
      }
    }
  }
  &.Checkbox-primary {
    &.Checkbox--checked {
      svg {
        fill: $primary-color;
      }
    }
    .ripple {
      background-color: lighten($color: $primary-color, $amount: 40%);
    }
  }
  &.Checkbox-secondary {
    &.Checkbox--checked {
      svg {
        fill: $secondary-color;
      }
    }
    .ripple {
      background-color: lighten($color: $secondary-color, $amount: 28%);
    }
  }
  &.Checkbox-alert,
  &.Checkbox-help {
    &.Checkbox--checked {
      svg {
        fill: $bg-help;
      }
    }
    .ripple {
      background-color: lighten($color: $bg-help, $amount: 15%);
    }
  }
  &.Checkbox-success {
    &.Checkbox--checked {
      svg {
        fill: $bg-success;
      }
    }
    .ripple {
      background-color: #c5e2c5;
    }
  }
}
