@import "variables";

body {
  font-size: 1rem !important;
  color: $font-color !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 1.8rem;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 600;
}

h1.title {
  font-family: "Alegreya Sans", "Times New Roman", Times, serif;
  font-weight: 500;
  color: $primary-color;
}

h2 {
  font-size: 1.357rem;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 600;
}

h3 {
  font-size: 1.07rem;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 500;
}

p.main {
  font-size: 1rem;
  font-weight: 500;
}
p.less {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

label:hover {
  cursor: text;
}

.bg-gradiant {
  width: 100vw;
  height: 100vh;
  background: rgb(224, 195, 252);
  background: -o-linear-gradient(315deg, rgba(224, 195, 252, 1) 0%, rgba(142, 197, 252, 1) 100%);
  background: linear-gradient(135deg, rgba(224, 195, 252, 1) 0%, rgba(142, 197, 252, 1) 100%);
}

a {
  font-size: 1rem;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 400;
  cursor: pointer;
}
a:hover,
a:focus-visible {
  border-bottom: 1px solid $font-color;
}
a.small {
  font-size: 0.875rem;
}

a.text-primary:hover {
  border-bottom: 1px solid $primary-color;
}
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-alert,
.text-error {
  color: $bg-error;
}
.text-help {
  color: $bg-help;
}
.text-success {
  color: $bg-success;
}
.full-width {
  width: 100%;
}
.text-center {
  width: 100%;
  text-align: center;
}

$headerHeight: 50px;
$menuWidth: 250px;
$verticalSpacing: 20px;
$horizontalSpacing: 30px;
.AppContainer {
  width: 100vw;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg-page;
  background: linear-gradient(180deg, $bg-page 90%, rgba($bg-page, 0) 100%);
}
.HeaderContainer {
  background-color: white;
  height: $headerHeight;
  margin: $verticalSpacing $horizontalSpacing;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  -moz-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}
main {
  padding-top: $headerHeight + 2 * $verticalSpacing;
  padding-left: $menuWidth + 2 * $horizontalSpacing;
}
.AppContent {
  background-color: white;
  width: calc(100% - #{$horizontalSpacing});
  min-height: calc(100vh - #{$headerHeight + 2 * $verticalSpacing});
  margin: 0;
  padding: 0;
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  -moz-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
}
nav {
  position: fixed;
  top: $headerHeight + 2 * $verticalSpacing;
  left: 0;
}
.Menu {
  background-color: white;
  height: calc(100vh - #{$headerHeight + 3 * $verticalSpacing});
  width: $menuWidth;
  margin: 0 $horizontalSpacing $verticalSpacing $horizontalSpacing;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  -moz-box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
  box-shadow: 0px 2px 2px 0px rgba(187, 187, 187, 0.8);
}
@media only screen and (min-width: 1400px) {
  .AppContainer {
    width: 94vw;
    margin: auto;
  }
  header {
    left: 3vw;
    width: 94vw;
  }
  nav {
    left: 3vw;
  }
}
@media only screen and (min-width: 2000px) {
  .AppContainer {
    width: 80vw;
    margin: auto;
  }
  header {
    left: 10vw;
    width: 80vw;
  }
  nav {
    left: 10vw;
  }
}

.topSearch {
  background-color: $bg-page;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
  height: 2rem;
  width: 18rem;
  margin: auto 0;
  position: absolute;
  left: $menuWidth + $horizontalSpacing;

  .MuiInputBase-root {
    margin-left: 0.1rem;
    flex: 1;
  }
}

.userData {
  margin: auto 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0.5rem;

  svg {
    fill: $font-color;
  }
}
