@import "variables";

.login__container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.login__panel {
  display: inline-flex;
  width: 50%;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}
.login__panel--with-blue-background {
  background-color: $primary-color;
  justify-content: center;
}

.login__form {
  display: flex;
  margin: auto 0;
  padding: 1rem 0 0 0;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  max-width: 300px;
}

.login__divider {
  margin: 2rem 0;
  width: 100%;
  position: relative;
  height: 1px;
  background-color: $font-color;

  .login__or {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -0.8rem;
    left: 0;
  }
}
