@import 'variables';

.login__header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: white;
  width: 95%;
  height: 50px;
  max-width: 1200px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.login__container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  min-height: 100%;

  .flex-responsive{
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    gap: 4rem; 
    padding: 2rem 0;
  }
}



.login__panel {
  display: inline-flex;
  width: 50%;
  height: 100%;
  flex: 1;
  min-width: 0;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}
.login__panel--with-blue-background {
  background-color: $primary-color;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  align-items: center;
  justify-content: flex-start;
}

.login__divider {
  margin: 2rem 0;
  width: 100%;
  position: relative;
  height: 1px;
  background-color: $font-color;

  .login__or {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -0.8rem;
    left: 0;
  }
}
