@import "variables";

.account__panel {
  background-color: lighten($color: $primary-color, $amount: 42);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  margin: 1rem -0.5rem;
  position: relative;
}

.account__panel-edit-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
