.mainContainer{
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.contentContainer {
    margin: 0 auto 1rem auto;
    width: 100%;
    max-width: 800px;
}

.trackSelectionBackdrop {
    z-index: 2000;
    color: white;
}

/* step 1 */

.trackSelectionTitle {
    margin: 25px 0;
}

/* step 2 */

.anthemStructureContainer{
    height: 100%; 
    width: 100%;
    object-fit: contain;
}

.anthemStructureVocalContainer{
    display: flex;
    justify-content: space-around;
}

.anthemStructureVocal{
    width: 100%;
    height: auto;
}

/* step 3 */

.anthemLyricsContainer{
    display: flex;
    flex-wrap: wrap;
}

.anthemLyricsControlsContainer{
    display: inline-block;
}

.anthemLyricsControls{
    display: inline-flex;
    padding: .2rem 1rem;
    align-items: center;
}

.anthemLyricsControls span{
    margin: .1rem;
}

.anthemLyricsControls span:first-of-type{
    margin: 0 .5rem;
}