@import 'variables';

.statistic--container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.statistic__average--container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2.5rem;
}

.statistic__phase--container{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.statistic__phase{
    margin-top: 1rem;
}