.title {
  text-align: left;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 27px;
}

.verticalTitle {
  writing-mode: vertical-rl; /* vertical-rl ou vertical-lr selon la direction voulue */
  transform: rotate(180deg); /* Pour lire de bas en haut, sinon à enlever */
  margin-right: 1rem; /* espace entre le titre et le graphe */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
}

.filtersContainer {
  display: flex;
  padding: 5% 0;
  width: 100%;
  gap: 25px;
}

.simpleContainer {
  margin-bottom: 25px;
}

.smallFilter {
  flex: 2;
}

.medFilter {
  flex: 3;
}

.monitorTable {
  padding-top: 5%;
}

.classroomStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  align-items: stretch;
}

.averageStatsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  gap: 20px;
}

.pieContainer {
  padding: 20px 20px 0;
  background-color: #f3f3f3;
  border-radius: 20px;
  max-width: 22rem;
  height: 100%;
}

.legend {
  display: flex;
  justify-content: center;
}

.legendItem {
  display: inline-block;
  margin: .25rem 0 0 .25rem;
  font-size: 1rem;
  height: 1.25rem;
}

.barContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 20px;
  background-color: #f3f3f3;
  max-height: 318px;
  border-radius: 20px;
}

.contributionBarContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #f3f3f3;
  width: 100%;
  max-height: 318px;
  border-radius: 20px;
}

.engagementContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.exchangesConnectionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.exchangesCard {
  width: 70%;
}

.connectionsChart {
  width: 30%;
}

.customLegend {
  font-size: 14px;
  color: #666;
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.selector button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 30px;
  transition: color 0.2s;
}

.chart {
  height: 350px;
}

.contributionChart {
  height: 350px;
  flex: 1;                /* pour prendre tout l'espace restant */
  display: flex;
  align-items: center;
}

.minContainer {
  flex: 1;
}

.midContainer {
  flex: 3;
}

.dualBarChart {
  height: 350px;
  display: flex;
  flex: 1;
  flex-direction: row;
}
