.title {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.filtersContainer {
  display: flex;
  padding-bottom: 5%;
  width: 100%;
  gap: 25px;
}

.simpleContainer {
  margin-bottom: 25px;
}

.smallFilter {
  flex: 2;
}

.medFilter {
  flex: 3;
}

.horizontalBars {
  display: flex;
  border-radius: 15px;
  /* flex-direction: column;
  align-items: center; */
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
  margin-bottom: 20px;
  max-width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.monitorTable {
  padding-top: 5%;
}

.classroomStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  align-items: stretch;
}

.averageStatsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  gap: 20px;
}

.pieContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f3f3f3;
  /* margin-bottom: 20px; */
  max-width: 400px;
  border-radius: 20px;
  position: relative;
  flex : 1;
}

.legend {
  display: flex;
  justify-content: center;
}

.legendItem {
  margin: 5px;
  font-size: 14px;
}

.barContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 20px;
  background-color: #f3f3f3;
  /* margin-left: 20px; */
  /* max-width: 648px; */
  max-height: 318px;
  border-radius: 20px;
}

.engagementContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.exchangesConnectionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.exchangesCard {
  width: 70%;
}

.connectionsChart {
  width: 30%;
}

.customLegend {
  font-size: 14px;
  color: #666;
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  /* position: sticky; */
  width: 100%;

  /* color: #4339F2; */
}

.selector button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 30px;
  transition: color 0.2s;
}

.chart{
  height: 350px;
}

.minContainer{
  flex: 1;
}

.midContainer{
  flex: 3;
}

.dualBarChart{
  height: 350px;
  display: flex;
  flex : 1;
  flex-direction: row;
}

