.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  color: white;
}

.mouseTrackerContainer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: white;
  padding: 2px 7px;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
}
