.mainContainer{
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.warningContainer{
    display: flex;
    align-items: center;
    color: red;
}

.trackSelectionContainer {
    margin: 0 auto 1rem auto;
    width: 100%;
    max-width: 900px;
}

.trackSelectionTitle {
    margin: 25px 0;
}

.trackSelectionBackdrop {
    z-index: 2000;
    color: white;
}

.anthemStructureContainer{
    height: 100%; 
    width: 100%;
    object-fit: contain;
}

.anthemStructureVocalContainer{
    display: flex;
    justify-content: space-around;
}

.anthemStructureVocal{
    width: 100%;
    height: auto;
}