.trackContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 2rem;
}

.trackContainer>button {
    justify-content: flex-start;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    font-size: .9rem;
}

.trackPicture button,
.trackPicture>span>span {
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 10rem;
}

.trackPicture button {
    padding: .5rem
}

.trackPicture>span>span>svg {
    font-size: 1rem;
}

.trackLabel input,
.trackLabel>span {
    box-sizing: border-box;
    width: 180px;
    padding-left: 10px;
    display: block;
}

.trackLabel input {
    padding: 1rem 0 1rem 10px;
}

.sampleControlsContainer {
    display: flex;
}

.sampleAudioControl {
    width: 250px;
    height: 30px;
}

.sampleControlsContainer button {
    margin-left: 6px;
}

.instrumentList {
    margin: 10px;
    padding: 50px;
}

.iconList {
    border: 1px solid gray;
    border-radius: 1em;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
}

.autocompleteList {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.paperComp {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}