.trackLabel input, .trackLabel > span {
    box-sizing: border-box;
    width: 180px;
    padding-left: 10px;
    display: block;
}

.trackLabel input {
    padding: 1rem 0 1rem 10px;
}

.sampleControlsContainer {
}

.sampleAudioControl {
}

.sampleControlsContainer button {
}