.root {
  --card-bg-color: #f5f5f5;
  --primary-color: #4c3ed9;
  --secondary-color: #dad7fe;
}

.cardContainer {
  flex: 3;
  background-color: var(--card-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}

.cardContainer > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardContainerExchange > div {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
}

.cardContainerExchange > div > p {
  align-items: center;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
}
